apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: dev
spec:
  ports:
    - name: redis
      port: 6379
      targetPort: 6379
      protocol: TCP

---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: redis-service-1
  namespace: dev
  labels:
    kubernetes.io/service-name: redis-service
addressType: IPv4
ports:
  - name: redis
    port: 6379
    protocol: TCP
endpoints:
  - addresses:
    - "10.255.2.4"
    conditions:
      ready: true
