apiVersion: v1
kind: Service
metadata:
  name: mysql-service
  namespace: dev
spec:
  ports:
  - name: mysql
    port: 3306
    targetPort: 3306
    protocol: TCP

---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: mysql-service-1
  namespace: dev
  labels:
    kubernetes.io/service-name: mysql-service
addressType: IPv4
ports:
- name: mysql
  port: 3306
  protocol: TCP
endpoints:
- addresses:
  - "10.255.2.4"
  conditions:
    ready: true
